In [5]:
print('hello')

hello

In [6]:
print("again")

again

In [7]:
print("hum..")

hum..

In [8]:
print("enter")
print("ho?")

enter
ho?

In [9]:
input("Input msg.")

'입력합니다.'

In [10]:
tlist = []
print(tlist)

[]

In [11]:
print(type(tlist))

<class 'list'>

In [20]:
for i in range(10):
    tlist.append(i)
print(tlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
tlist = []

In [24]:
print(tlist[3:])

[3, 4, 5, 6, 7, 8, 9]

In [25]:
print(tlist[-2:])

[8, 9]

In [26]:
print(tlist[:-3])

[0, 1, 2, 3, 4, 5, 6]

In [27]:
a_dic = {1:'1', 2:'2', 3:'3'}
print(a_dic)

{1: '1', 2: '2', 3: '3'}

In [28]:
tdic = {}
for i in range(10):
    tdic[i] = str(i)

In [29]:
print(tdic)

{0: '0', 1: '1', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6', 7: '7', 8: '8', 9: '9'}

In [33]:
print(tdic.popitem())

(7, '7')

In [37]:
print(tdic)

{0: '0', 2: '2', 3: '3', 4: '4', 5: '5', 6: '6'}

In [36]:
print(tdic.pop(1))

1

In [38]:
stest = set("python")

In [41]:
print(stest)

{'t', 'o', 'y', 'p', 'n'}

In [40]:
stest.pop()

'h'

In [42]:
print(10**2)

100

In [43]:
print(100//3)

33

In [44]:
print(100%7)

2

In [46]:
print(True)

True

NameError: name 'TRUE' is not defined

In [48]:
print(False)

False

In [49]:
print(False)

False

In [50]:
tlist = [1, 2, '3']
print(1 in tlist)

True

In [51]:
print(3 in tlist)

False

In [52]:
print('3' in tlist)

True

In [56]:
tlist = []
for i in range(1, 10):
    tlist.append(str(i)+'번째 입니다')

In [57]:
print(tlist)

['1번째 입니다', '2번째 입니다', '3번째 입니다', '4번째 입니다', '5번째 입니다', '6번째 입니다', '7번째 입니다', '8번째 입니다', '9번째 입니다']

In [58]:
print(len(tlist))

9

In [59]:
for i, k in enumerate(tlist):
    print(str(i)+"번째 문장은:"+k)

0번째 문장은:1번째 입니다
1번째 문장은:2번째 입니다
2번째 문장은:3번째 입니다
3번째 문장은:4번째 입니다
4번째 문장은:5번째 입니다
5번째 문장은:6번째 입니다
6번째 문장은:7번째 입니다
7번째 문장은:8번째 입니다
8번째 문장은:9번째 입니다

In [62]:
tlist = [i for i in range(3,20)]

In [63]:
print(tlist)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [64]:
try:
    print(fdf)
except:
    print("Error")

Error

In [65]:
try:
    print(fdf)
except Exception as e:
    print(e)

name 'fdf' is not defined

In [67]:
def func():
    print("This is function")
func()

func()

This is function
This is function

In [68]:
def tfunc(a, b):
    return a+b, a*b

print(tfunc(3,4))

(7, 12)

In [69]:
a, b = tfunc(3, 4)
print(a, b)

7 12

In [70]:
_, a = tfunc(3, 3)

In [71]:
print(a)

9

In [72]:
a = """my name is 
choi
jae
min"""
print(a)

my name is
choi
jae
min

In [77]:
a = "my name is" \
"Jae" \
"Min"

print(a)

my name isJaeMin

In [78]:
import random
print(random.randint(1, 100))

54

In [80]:
print(random.getstate())

(3, (667251083, 683036, 510117713, 2011467533, 4115989248, 89826311, 2967156494, 1389759342, 1906671694, 3928686824, 4005116044, 257204648, 839979003, 3262519496, 3969416029, 1829824572, 897489645, 54907598, 2523754233, 2300685369, 887204862, 33700179, 1538544675, 3767943231, 218904223, 1929072738, 708392316, 2777500299, 1465001662, 2178018801, 3880074187, 1803055825, 3975877079, 2728910708, 633525200, 668717791, 3853186072, 3133436297, 4024834188, 726772917, 2286169992, 1858635983, 4160333465, 235763880, 1260099568, 135455816, 769382962, 3109052590, 2454349802, 4165316383, 2845673187, 515424551, 1011382662, 1320183906, 1168317975, 3577431352, 2009019070, 1051567548, 3682269526, 1625909394, 3435096690, 1779880727, 3640898310, 455999537, 3590733726, 3992419187, 3575566597, 631028742, 1720079600, 2384973418, 3866158691, 1482366986, 3130573895, 3660196509, 2230720947, 3825706349, 2776819357, 4005279190, 2125773152, 3822652062, 3120493759, 1832428304, 2761234055, 1423158035, 3738805009, 3479977700, 4144108497, 220675352, 31659234, 3745993836, 586047489, 2810565911, 4036142433, 1021898897, 3549239778, 1545083529, 3116846050, 744228726, 357691850, 1315116526, 4261327001, 2544642353, 1442487894, 1773617925, 1894487027, 1988827197, 2624585139, 2566171783, 1042344644, 3676457428, 208337235, 453106567, 1597162887, 2910252111, 191820928, 3647566802, 4107288104, 4166105674, 530801183, 2945004631, 1591159279, 2383952505, 2822050909, 1638915237, 1387448024, 3215301092, 2960388731, 2093706145, 2857197903, 341337249, 3459778410, 4277793436, 342027764, 2304521729, 3362041299, 619729415, 2932831777, 1704486084, 4225674265, 1789276802, 2021566998, 2708797329, 3953176426, 2403479146, 1218922649, 2253386416, 3130335822, 946649981, 4247747729, 2369858788, 1495216191, 1515469717, 3811667480, 2250237821, 69620284, 621951312, 480120763, 695342697, 118280496, 185114150, 1705065157, 1867121109, 2923362151, 1218880665, 1488034874, 2899957632, 2175938027, 451670405, 2531526092, 2642832158, 2175803622, 1359658655, 1391345117, 1683279475, 1285793732, 1467161506, 3179905139, 2632752222, 1303332535, 3862539330, 645250979, 1473829400, 310448030, 1556346609, 1287105892, 926169901, 3256357146, 3435534601, 2651515596, 3388380719, 458709492, 1348433130, 2885023652, 1472402034, 674771643, 3544919399, 2845506566, 1792255893, 1369768498, 3367005469, 3421949450, 3602599149, 349936791, 3341586782, 735149221, 4111678283, 2328465126, 287863515, 214074719, 2588154643, 3391000942, 1969680972, 955664637, 3624830434, 3886096365, 1913134056, 2630154940, 2543234386, 4133223226, 2035898480, 3779706486, 3348259723, 113808814, 1705885273, 4291385439, 3837233372, 3830952117, 3364374817, 1210567248, 1287013564, 3821111656, 3646246661, 963693774, 1307519846, 969384940, 3402735072, 1586178370, 1875209000, 1741178956, 1076730986, 4142916427, 1124866280, 971708727, 3933217270, 2955281234, 373971058, 3240794752, 1671610375, 1684950573, 179244310, 3543676635, 2508461712, 2944590201, 420495106, 176175197, 3044445206, 96769792, 3035828968, 50566354, 2776622221, 1915067003, 1891320061, 4214502295, 1448601084, 3060568948, 3655232395, 4101783462, 4288067210, 2265034554, 3140926872, 560900018, 2363213860, 1288010618, 2875195, 3708634711, 1918886893, 584486667, 3669664660, 4135458238, 2208485519, 3322600376, 3224662912, 2642836914, 86457926, 2332759141, 1457698795, 4106248633, 242315985, 3009803741, 193745587, 3519968100, 559800179, 2711881351, 1316549537, 4040957435, 2872918076, 2511266213, 1672436429, 3750468768, 3720769268, 4200136423, 121579061, 714992457, 1504733921, 2384228955, 4199713978, 1333297398, 1848423952, 698958924, 343102659, 228520240, 1839493928, 2771293771, 1071562057, 950682759, 4255988588, 3620960220, 1268031547, 2972898354, 3838772051, 855330099, 1889868020, 1030677183, 4260485469, 1787474774, 2714986580, 1132281619, 2262997419, 936083008, 3261774724, 1892748380, 3089351918, 3052653500, 510052415, 1515529634, 1665668716, 3445636683, 4223482083, 79988101, 2794719283, 1982757573, 2744985423, 3027915545, 499489719, 1910192347, 2585489325, 2069831933, 1567019737, 4142898483, 1515933447, 3958509489, 2304868857, 1586199496, 2456602850, 3553655795, 1441182781, 768321177, 2670213983, 1649845063, 1241223495, 123088107, 172846582, 1679716189, 439931106, 1086646873, 1066875493, 385952271, 182016497, 1922564347, 3481479518, 3694860039, 55191100, 2074460348, 1967783722, 1195654639, 3091986730, 269894860, 3672004333, 461682260, 1743031849, 490938148, 2112131803, 4012008732, 36566738, 1212796846, 1449002228, 1498375291, 1181662984, 4239890961, 2127949946, 895739796, 711883070, 2969768667, 3207229985, 3655962600, 603280649, 2788639015, 1545496804, 508016813, 1964247889, 2039220276, 810364707, 2016108690, 178511337, 979307012, 2089331570, 72437889, 372260790, 69032620, 1341672117, 3476520887, 441322266, 2960642986, 1308230582, 892608647, 3471811846, 1261803641, 1882077606, 2527607588, 971307854, 78916445, 1667912960, 1830295537, 1069070347, 3992327114, 1336818858, 2138090581, 4280104643, 1345254534, 3716798383, 2744791341, 814283215, 850800234, 3373298197, 3923757907, 4257862889, 3999650404, 214494170, 3524945837, 4002373780, 1026412037, 2373303354, 114918345, 3549132903, 3705970881, 3630391100, 1612569862, 3231733477, 4251209142, 1561953181, 1034041676, 2951167159, 3511535117, 1987254479, 3251157921, 3095711510, 842750378, 1582281517, 2711711413, 2602074133, 2768053521, 3932596936, 1356329964, 4285057621, 2240828750, 1313032206, 3434124570, 2853713687, 4184447821, 620739690, 3409351456, 1570751517, 2799041807, 594236327, 274365702, 4013369018, 152640312, 3705332021, 1973221585, 4225997748, 263138435, 2835381874, 3807739222, 636213781, 3900018512, 1246921884, 2839864160, 595592867, 981029884, 2446311681, 3811560794, 196581310, 2567843684, 1883207261, 3119209057, 1466617543, 2598597935, 3013400846, 3833908108, 1769068576, 278876592, 1350507577, 196038434, 1443714351, 2210680053, 1477054218, 2545332134, 400594822, 1414595798, 2005792242, 1935690669, 2201067558, 3801473598, 4127879453, 2834755634, 4128269887, 294964098, 2044609608, 653325301, 553177718, 1608101132, 2572809413, 53362958, 2295300131, 2256114312, 3122541694, 3334629693, 1667777253, 1188923477, 67560671, 3319272932, 662598762, 2253155869, 3727912506, 2672276094, 775364213, 2657778110, 1828752578, 1468983940, 3986224994, 2945103877, 3483588312, 3667740710, 2768357333, 2530389674, 1380970665, 3657398314, 1333976874, 2763045052, 2126984821, 700824958, 870378356, 3396275739, 734878706, 3558227020, 2203430927, 2349968974, 439946187, 3801542268, 414114679, 2040118543, 383135356, 2006001506, 2260219435, 122898840, 3410850982, 3325106883, 917149281, 1031574921, 4010511719, 1666318327, 1194929717, 3952941133, 1799004136, 2133788797, 2969701674, 695411005, 3592427659, 1085472623, 990397975, 2414969577, 424474393, 3001661547, 2573638245, 1787697183, 632216379, 1159686686, 2011359255, 1496914895, 2290994126, 2907897650, 117472315, 2259681616, 4272461344, 3292004606, 833675705, 2514514721, 3210484553, 3770160104, 2424955072, 552725220, 168085887, 1966738887, 1761032067, 1862592326, 607243648, 2499453422, 1107198980, 3123022895, 2158121283, 4050216683, 3273058524, 2776266994, 3475749140, 2692616609, 310997800, 1398654336, 3642010596, 2792134249, 2020468082, 2101030444, 2624066811, 3670134067, 1826441533, 1), None)

In [81]:
import random as rd
print(rd.randint(1, 100))

18

In [91]:
#1~100 입력 후 맞추는 프로그램. 몇 번 만에 맞췄는지 출력해준다. 
rnum = random.randint(1, 10)
trynum = 0
while True:
    try:
        inum = int(input("Type number between 1 to 100"))
        trynum += 1
        if inum == rnum:
            print(f"{trynum}번째에 맞추셨습니다")
            break;
        elif rnum > inum:
            print("더 큽니다")
        else:
            print("smaller")
    except:
        print("Wrong input, try again")

smaller
Wrong input, try again
Wrong input, try again
Wrong input, try again
Wrong input, try again
Wrong input, try again
Wrong input, try again
smaller
9번째에 맞추셨습니다

In [93]:
import socket
in_addr = socket.gethostbyname(socket.gethostname())
print(in_addr)

192.168.0.65

In [97]:
in_addr = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
in_addr.connect(("www.google.co.kr", 443))
print(in_addr.getsockname())

('192.168.0.65', 57794)

In [103]:
import requests
import re

req = requests.get("http://ipconfig.kr")
# print(req.text)
out_addr = re.search(r'IP Address : (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})', req.text)[1]
print(out_addr)

121.167.166.77

In [116]:
s = 'aaa@xxx.com, bbb@yyy.com, ccc@zzz.net'

e = re.search(r'([a-z]+)@([a-z]+)\.com', s)
print(e)
print(e[2])
print(e.span())
print(e.group())
print(e.groups())
e = re.sub(r'([a-z]+)@([a-z]+)\.com', 'Hello', s)
print(e)

<re.Match object; span=(0, 11), match='aaa@xxx.com'>
xxx
(0, 11)
aaa@xxx.com
('aaa', 'xxx')
Hello, Hello, ccc@zzz.net

In [122]:
import socket
import requests
import re

in_addr = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
in_addr.connect(("www.google.co.kr", 443))
print(f"Internal IP addr: {in_addr.getsockname()[0]}")

req = requests.get("http://ipconfig.kr")
out_addr = re.search(r'IP Address : (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})', req.text).groups()[0]
print(out_addr)

Internal IP addr: 192.168.0.65
121.167.166.77

In [108]:
print(e.group())

AttributeError: 'str' object has no attribute 'group'